{% extends 'base.html' %}

{% block content %}

<div class="box">
    <h2 class="h1-responsive font-weight-bold text-center"><green>Contact</green></h2>        
    {% for message in messages %}
        <div class="alert alert-success">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}
    
    <form id='cform' action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <script>
            grecaptcha.ready(function() {   
                grecaptcha.execute('<KEY>', {action: 'contact'})
                .then(function(token) {
                    ginput = document.createElement('input');
                    ginput.type = "hidden";
                    ginput.name = "g-recaptcha-response";
                    ginput.value = token;
                    document.getElementById("cform").appendChild(ginput);
                });
            });
        </script>
        <button type="submit" class="btn btn-primary form-control">Submit</button>
    </form>
</div>
{% endblock %}