{% extends 'base.html' %}

{% block content %}

<main role="main" class="inner cover">
    <div class="container" id="home">
        <div class="row">
            <div class="col-6">
            <h1><green>Hello</green>, I'm <green>Kelly Oh</green> :) </h1>
            </div>
            {% load static %}
            <div class="col">
            <p></p>
              <!--  <img class="rounded img-responsive img-fluid main right" src="{% static "image/garden_kelly.png" %}"  >!--> 
            </div>
        </div>
        
    </div>
    <p> </p> 
    <p></p>
    <br>
    <br>
    

    <div class="container" id="portfolio">
        <h2 class="h1-responsive font-weight-bold text-center"><green>Portfolio</green></h2>
        <h3>My Neighbor</h3>
        <br>
        <br> 
        <div class="row justify-content-md-center">
            <div class="col portfolioImg">
                {% load static %}
                <img id="project" class="rounded img-responsive image" src="{% static "image/myNeighbor.png" %}"></img>
                <div class="middle">
                    <div class="getLink">Will be updated :) </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-5 col-lg-5">
                <br>
                <br>
                <p>MyNeighbor은 코로나시대에 물물교환의 정신을 담은 모바일 어플리케이션입니다.
                2019년 4월 전세계가 신종 바이러스 창괄로 힘겨워할 때 가장 취약한 소외계층을 돕고자 프로젝트를 계획했습니다.
                짧은 2019 Global Church Hackathon에 참여했으며, 짧은 기간동안 최선의 성과를 내기위해 cloud-based를 활용하였습니다. </p>
                <p>  <i class="mr-md-5" data-feather="tool" ></i> dart, flutter, firebase </p>
            </div> 
        </div>
        <br>
        <br>
        <h3>FICA</h3>
        <br>
        <br>
        <div class="row">
            <div class="col-sm-3 col-md-5 col-lg-5">
                <p>FICA (Felloship of Indonesian Christians In America)는 젊은 청년 세대가 성경적인 지식과 가치관을 가진 인도네시아의 리더로 
                성장할 수 있게 양육하는 미국 NGO 단체입니다. </p>
                <p>재능 기부에 참여하였으며, Google Analytics에 처음 참여하였습니다.</p>
                <p>  <i class="mr-md-5" data-feather="tool" ></i> wordpress, Google Analytics </p>
            </div>
            <div class="col portfolioImg">
                <a class="nav-item" href="https://fica.org/fica/#" target="_blank" > 
                {% load static %}
                <img id="project" class="rounded img-responsive image" src="{% static "image/FICA_LOGO.png" %}" ></img>
                <div class="middle">
                    <div class="getLink">Learn more</div>
                </div>
                </a>
            </div>
        </div>
        </div>
    </div>
    <br>
<br>
<br>
<br>
<div class="container" id="about">
<h2 class="h1-responsive font-weight-bold text-center"><green>About</green></h2>

    <div class="row justify-content-md-center">
        <div class="col">
            {% load static %}
            <!-- <img class="rounded img-responsive img-fluid main left" src="{% static "image/laptop_kelly.jpeg" %}"> !-->
        </div>
        <div class="col-sm-3 col-md-7 col-lg-5">
            <p> 
                
            </p>
            <p>
            </p>
            <br>
            <br> 
        </div>
    </div>
</div>

</main>
{% endblock %}  